In [5]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv", index_col = 'PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
len(df['Name'].unique())

891

In [8]:
female = df[df.Sex == 'female']
len(female[female.Survived == 1])/len(df)

0.2615039281705948

In [9]:
male = df[df.Sex == 'male']
len(male[male.Survived == 1])/len(df)

0.122334455667789

In [10]:
first_class = df[df.Pclass == 1]
len(first_class[first_class.Survived == 1])/len(df[df.Survived == 1])

0.39766081871345027

In [11]:
second_class = df[df.Pclass == 2]
len(second_class[second_class.Survived == 1])/len(df[df.Survived == 1])

0.2543859649122807

In [12]:
third_class = df[df.Pclass == 3]
len(third_class[third_class.Survived == 1])/len(df[df.Survived == 1])

0.347953216374269

In [15]:
child = df[df.Age < 18]
len(child[child.Survived == 1])/len(df[df.Survived == 1])

0.1783625730994152

In [19]:
adult = df[df.Age > 12]
len(adult[adult.Survived == 1])/len(df[df.Survived == 1])

0.7309941520467836

In [20]:
df.Fare.median()

14.4542

In [21]:
survived = df[df.Survived == 1]
len(survived)/len(df)

0.3838383838383838

In [22]:
df.sort_values(by = 'Fare', ascending = False, inplace = True)
df.Fare.head()

PassengerId
259    512.3292
738    512.3292
680    512.3292
89     263.0000
28     263.0000
Name: Fare, dtype: float64

In [24]:
df.Fare.isna().sum()

0

In [26]:
len(df[df.Sex == 'male'])

577

In [27]:
len(df[df.Sex == 'female'])

314

In [28]:
df.SibSp.mode().iat[0]

0

In [32]:
survived_passengers = df[df.Survived == 1]
len(survived_passengers[survived_passengers.Embarked == 'S'])

217

In [33]:
df.Age.median()

28.0